.page_rodape {
  min-height: 30vh;
  background-color: #000000;
}
.page_rodape .content {
  margin: 0% 7%;
  height: 97%;
  display: flex;
  align-content: center;
}
.part1 {
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.part2 {
  height: 100%;
  width: 22%;
}
.part3 {
  height: 100%;
  width: 22%;
}
.part4 {
  height: 100%;
  width: 22%;
}
.partControllAll {
  margin: 1% 2%;
}
.btn_logo_endbar a button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-style: none;
  color: #fff;
}
.btn_logo_endbar a {
  text-decoration: none;
}
.btn_logo_endbar a button svg {
  margin-right: 10px;
}
.social_icons_endbar {
  display: flex;
}
.social_btn_icons{
  color: #ffffff;
}
.endBar_text {
  margin: 0px 10px 0px 20px;
}
.color-endbar {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.color-endbar a,
button {
  color: rgba(255, 255, 255, 0.7);
}
.logo_text_logo {
  display: flex;
  align-items: center;
}
.endbar_exatas h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}
.endbar_blog h1 {
  padding: 0;
  font-family: Nunito, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.services_link {
  color: #ffffff;
}.services_link li{
  margin-bottom: 10px;
}
.part2 h1 {
  color: #ffffff;
}
.part3 h1 {
  color: #ffffff;
}
.li_navEndBar {
  color: #ffffff;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  /* identical to box height */
}
.endbar_tesktext {
  display: flex;
}
.endbar_tesktext button svg {
  color: #ffffff;
  height: 20px;
  width: 20px;
}
.part4 h2 {
  color: #ffffff;
}
.part4 input {
  background-color: #ffffff;
  padding: 0px 5px 0px 5px;
}
.part4 input::placeholder {
  font-family: Pathway Gothic One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-decoration-line: underline;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.7);
  padding-left: 10px;
}
textarea[name=taskContact]{
    outline: none;
}
textarea[name=taskContact]::placeholder{
    font-family: Pathway Gothic One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-decoration-line: underline;
text-transform: uppercase;
padding-left: 10px;
color: rgba(0, 0, 0, 0.7);
}
.part4 button{
    background-color: #2D2D2D;
    border-style: none;
}
@media (max-width:1024px){
    .page_rodape{
      min-height: 100vh;
      
    }
    .page_rodape .content {
      flex-direction: column;
      height: 100%;
    }
    .partControllAll{
      width: 100%;
    }
}
.link_a_endBar{
  color: #ffffff;
}