@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

.section{
    height: 100%;
    align-items: center;
    display: flex;
}
.select-tag-section {
    padding: 0 70px;
    align-items: center;
    justify-content: space-between;
    font-family: " Pathway Gothic One";
    display: flex;
    flex-direction: column;
    flex: content;
}

.button-area{
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
}

.content{
    display: flex;
    width: 100%;
    justify-content: space-between; 
}


.h1-tt {
    text-align: center;
    margin-bottom: 50px;
}
.h1-tt {
    font-family: Pathway Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 74px;
}

.tag-selections {
    max-width: 760px;
    display:flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.tag-model{
    padding: 10px 25px;
    display: flex;
    width: 25%;
    max-height: 20px;
    width: max-content;
    margin: 20px;
    align-self: center;
    outline: 1.5px solid black;
    align-items: center;
    border-radius:100px;
    cursor: pointer;
}

.tag-model{
    font-family: Pathway Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    user-select: none;

}
.tag-model.active{
    background-color: black;
    color: white;
    -webkit-box-shadow: 0px 0px 15px 0px #A6A6A6; 
box-shadow: 0px 0px 15px 0px #A6A6A6;
}
.buttons-section{
    width: 100%;
}
.next-btn{
    background-color: black;
    color: white;
    text-decoration-line: underline;
    padding: 15px 40px;
    display: inline-flex;
    align-items: center;
    outline: none;
    border: none;
    font-family: 'Pathway Gothic One';
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease-in-out;
}
.next-btn:active{
    background-color: black;
    color: white;
    text-decoration-line: underline;
    padding: 15px 40px;
    display: inline-flex;
    align-items: center;
    outline: none;
    border: none;
    font-family: 'Pathway Gothic One';
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease-in-out;
}
.back-btn{
    background-color: transparent;
    color: black;
    text-decoration-line: underline;
    padding: 15px 40px;
    display: inline-flex;
    align-items: center;
    outline: none;
    border: none;
    font-family: 'Pathway Gothic One';
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.back-btn:active{
    outline: 2px solid black;
    transition: all 0.25s ease-in-out;
}