.etapaOne {
  width: 100%;
  height: 100%;
}
.progress_bar_33 {
  display: flex;
}
.actual_bar_33 {
  width: 33%;
  background-color: #000000;
  height: 2px;
}
.next_bar_67 {
  background-color: #00000029;
  width: 67%;
  height: 2px;
}
.block_for_items {
  display: flex;
  width: 100%;
  height: 100%;
}
.columone {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.columduo {
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.columthree {
  width: 25%;
  height: 90vh;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.info_progress_actual {
}
.progress_name_tag {
  margin: 0;
  margin: 10px 0px 0px 0px;
  font-family: Pathway Gothic One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;

  color: #000000;
}
.atual_etapa {
  margin: 5px 0px 0px 0px;
  font-family: Pathway Gothic One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: rgba(0, 0, 0, 0.7);
}
.et01 {
  font-family: Pathway Gothic One;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  color: #000000;
  margin: 0px 0px 0px 0px;
}
.et01_sub_title {
  font-family: Pathway Gothic One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: center;

  color: rgba(0, 0, 0, 0.7);
}
.content_input_all > label {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 10px 0px;
  background-color: #f8f8f8;
}
.icons_register_input {
  margin: 3px 5px 0px 5px;
  width: 25px;
  height: 21px;
}

/* inputs */

.input_all_register_config {
  border-style: none;
  background-color: transparent;
  outline: none;
}
.input_all_register_config:-webkit-autofill,
.input_all_register_config:-webkit-autofill:hover,
.input_all_register_config:-webkit-autofill:focus{
  border: none;
  -webkit-text-fill-color:#00000089;
  -webkit-box-shadow: 0 0 0px 100px transparent inset;
  transition: background-color 5000s ease-in-out 0s; 
}
.btn_style_next {
  display: flex;
  align-items: center;
  background-color: black;
  color: #ffffff;
  margin: 0px 50px 30px 0px;
  border-style: none;
  box-shadow: 10px 10px 5px #00000040;
  transition: 1s all;
}
.btn_style_next:hover {
  box-shadow: none;
}
.icon_next {
  height: 20px;
  width: 20px;
  margin: 0px 5px 0px 5px;
}
.btn_style_next > h2 {
  margin: 10px 10px;
  font-family: Pathway Gothic One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
}
.password_one{
    border: 2px solid #f8f8f8;
    transition: 2s border;
}
#confirminputlab{
  border: 2px solid #f8f8f8;
  transition:  2s border;
}
#email_label_id{
  border: 2px solid #f8f8f8;
  transition:  2s border;
}
#input_fullname_id{
  border: 2px solid #f8f8f8;
  transition:  2s border;
}
#username_input_id{
  border: 2px solid #f8f8f8;
  transition:  2s border;

}