.section_login{
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: linear-gradient(326.17deg, rgba(0, 0, 0, 0.1) 40.03%, rgba(0, 0, 0, 0) 83.86%);
    flex-direction: column;
}
.content_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}
.text_top_content{
    text-align: center;
}
.input_content{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.input_content label,input{
    margin: 10px 0px;
    height: 40px;
    width: 250px;
    outline: none;
    border-style: none;
    background-color: #f8f8f8a8;
}
.input_content label{
    display: flex;
    align-items: center;
}
.input_content label svg{
    padding: 1px 5px 1px 5px;
    height: 40px;
    background-color: #F8F8F8;
}
.help_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -30px;
    margin-bottom: 30px;
}
.help_content span{
    display:flex ;
    align-items: center;
    margin-right: 80px;
}
.BoxSelect{
    height: 14px; 
   width: 14px;
   margin-right: 5px;
}
.help_content p{
    font-size:10px
}
.help_content a{
    font-size:10px;
    color: #000;
}
.buttonDartLogin{
    background-color: #000000;
    color: #fff;
    height: 40px;
    padding:5px 110px;
    border-style: none;
    box-shadow:  10px 10px 5px rgba(0, 0, 0, 0.219);
    transition: 1500ms;
    cursor: pointer;
}
.buttonDartLogin h2{
    margin: 6px 0px;
    font-family: Pathway Gothic One, sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.buttonDartLogin:active{
    background-color: #000000;
    color: #fff;
}
.buttonDartLogin:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: unset;
}
.button_Forgot{
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}
