@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
.LogoA {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  margin: 10px 10px;
  height: 45px;
  width: 165px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  padding: 0px 10px;
}
.blog {
  font-family: Pathway Gothic One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}
.LogoA:hover {
  animation: buttonAnim 1s forwards;
}
@keyframes buttonAnim {
  from {
  }
  50% {
  }
  to {
    color: #ffffff;
    background-color: #000000;
    border-radius: 20px;
  }
}
