@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Nunito");

.ButtonDark{
    background-color: #000000;
    color: #fff;
    height: 40px;
    padding:5px 20px;
    border-style: none;
    box-shadow:  10px 10px 5px rgba(0, 0, 0, 0.219);
    transition: 1500ms;
    cursor: pointer;

}
.ButtonDark a{
}
.ButtonDark h2{
    color: #ffffff;
    margin: 6px 0px;
    font-family: Pathway Gothic One, sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}
.ButtonDark:active{
    background-color: #000000;
    color: #fff;
}
.ButtonDark:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: unset;
}
