.nav_links_content {
  display: flex;
  align-items: center;
}
.nav_links_content .aClassNav{
  margin: 0px 20px;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  font-family: "Pathway Gothic One", sans-serif;
  color: #000000;
  transition: top 1000ms;
}
.nav_links_content .aClassNav h3{
  font-style: normal;
  font-weight: normal;
}
.nav_links_content .aClassNav:hover{
  position: relative;
  top: 0px;
  padding: 0;
  text-decoration: underline;
}
.content_display_resp{
  display: none;
}
