@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display');


.MiddleMain-Main{
    font-family: Pathway Gothic One, sans-serif;
    padding:75px 70px; 
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
}
.MiddleMain-Image{
    width: 30vw;
    height: 75vh;
    background-color: blue;
}
.MiddleMain-Image img{
    width: 30vw;
    height: 75vh;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
    
}
.MiddleMain-Line{
    width: 13vw;
    height: 2px;
    background-color: black;
}
.MiddleMain-Text-Link{

    width: 30vw;
}
.MiddleMain-Button{
    display: inline-flex;
    align-items: center;
}

.btn-view{
    font-size: 25px;
    text-decoration: underline;
    font-weight:200;
    padding-right: 50px;
    text-decoration-color: black;
    outline: hidden;
    color: black;
}
.MiddleMainTitle{
    font-size: 40px;
    font-weight: bold;
}
.MiddleMainSubTitle{
    font-size: 25px;
    font-weight: 200;
}
