.content_top_posts{
    width: 100vw;
    height: 40vh;
    display: flex;
}
.top_news_categories{
    width: 15%;
    height: 100%;
}
.post_topNews{
    width: 85%;
    height: 100%;
}


@media (max-width:800px){
 .content_top_posts{
    flex-direction: column;
 }  
 .top_news_categories{
     width: 100%;
     height: 10%;
     display: flex;
     overflow: scroll;
 }
}