@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
.button {
  font-size: 0.5em;
  color: #000000;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 50px;
  width: 160px;
  border-style: none;
  cursor: pointer;
}
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
svg {
  height: 25%;
  width: 25%;
}
.TextArea {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 2.3em;
  line-height: 25px;
}
.TextBlog {
  font-family: Pathway Gothic One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 28px;
}
